---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Blog - arth">
  <div class="container mx-auto max-w-3xl px-4 py-12">
    <h2 class="text-2xl uppercase tracking-wider text-center mb-12">Blog</h2>
    <div class="space-y-8">
      {
        posts.map((post) => (
          <article class="-mx-6 rounded-lg hover:bg-accent-hover transition-colors group">
            <a href={`/blog/${post.slug}`} class="flex items-start p-6">
              <img
                src={`/images/${post.data.thumb}`}
                alt={post.data.title}
                class="w-20 h-20 object-contain mr-8 self-center"
              />
              <div class="flex-1">
                <div class="flex justify-between items-center mb-2">
                  <h3 class="text-xl group-hover:text-text">
                    {post.data.title}
                  </h3>
                  <p class="text-text-muted text-sm group-hover:text-text">
                    {post.data.pubDate.toLocaleDateString()}
                  </p>
                </div>
                <p class="text-text-muted group-hover:text-text">
                  <em>{post.data.description}</em>
                </p>
              </div>
            </a>
            <div class="h-px bg-accent mb-3 w-[98%] mx-auto" />
          </article>
        ))
      }
    </div>
  </div>
</Layout>
